body{

margin:0;

background:var(--bg);

color:var(--text);

transition:.2s;

}

*{

box-sizing:border-box;

}

a{

color:inherit;

text-decoration:none;

}

.container{

width:min(
1200px,
95%
);

margin:auto;

}

.grid{

display:grid;

gap:20px;

}

.section{

padding:120px 0;

}

button{

cursor:pointer;

}
